// Variables
@import "variables";

// Component syles
@import "react-star-rating";
@import "react-select";
@import "react-date-picker";

@import "react-draft";

// Form builder styles
@import "form-builder";
@import "form-builder-form";

.form-builder-container {
	width: '100%';
	display: 'flex';
	justify-content: 'center';
	margin: 0;
	padding: 0;
}